.groupLink {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
}

.link {
    text-decoration: none;
    padding: 0 4px 0 4px;
}

a:visited {
    color: black;
}

a:hover {
    color: #436fcd;
}
