.body {
    text-align: center;
    padding: 20px;
    margin: 0 auto;

}

.inputStyle {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    width: 250px;
}

input {
    margin-top: 20px;
    padding: 10px;
}

button {
    width: 150px;
    padding: 10px;
}

.error {
    color: red;
    font-size: 26px;
}
